<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Cart List</h1>
<table>
    <thead>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Price</th>
        <th>Quantity</th>
        <th>Total</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="cart : ${cartList}">
        <td th:text="${cart.name}"></td>
        <td th:text="${cart.price}"></td>
        <td th:text="${cart.quantity}"></td>
        <td th:text="${cart.total}"></td>
        <td>
            <a th:href="@{/cart/delete/{id}(id=${cart.id})}">Delete</a>
        </td>
    </tr>
    </tbody>
</table>
<br>
<a th:href="@{/cart/clear}">Clear</a>
</body>
</html>